[submodule "larswagonercom/themes/hugo-coder"]
	path = larswagonercom/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "larswagonercom/public"]
	path = larswagonercom/public
	url = https://github.com/larswagoner/larswagoner.github.io.git
